body {
    background-color: rgb(244, 241, 255);
    margin: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
  }
  h1 {
    color: blue;
  }
  p {
    color: rgb(0, 0, 0);
    font: 500;
  }
  ul {
    color: blue;
    font-stretch: condensed;

  }